html {
    background: linear-gradient(45deg, rgb(5, 5, 25), rgb(10, 10, 50)) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
main {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    padding: 1em;
}
.title h1 {
    font-size: 2em;
}
.main-middle {
    display: flex;
    justify-content: center;
}
.wheel-div {
    max-width: 250px;
}
.wheel-img {
    width: 100%;
    transition: 2s all;
}
.game-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.game-settings h2 {
    width: 100%;
    margin: 0 0 .5em 0;
}
.conf-fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 .5em;
}
.game-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}
.resNum {
    font-size: 2em;
}
.resTxt {
    font-size: 1.5em;
}
.resTotal {
    margin: 1em 0;
    font-size: 2em;
}
@media screen and (max-width: 510px) {
    .wheel-div {
        max-width: 200px;
    }
    .game-settings {
        flex-direction: column;
        align-items: center;
    }
    .conf-fieldset {
        margin: .3em 0;
    }
}