:root {
  --inputcol: #FFFFFF38;
  --disabledinputcol: #88888838;
  --boxcol: #000000AA;
  --wshadow: 2px 5px 10px #7958584d;
}
  
html {
  font-family: sans-serif;
  color: white;
  background-color: black;
}

body {
  height: 100vh;
}
  
a {
  color: lightskyblue;
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
}

  p, label, input, button{
  margin: .2em;
  -webkit-appearance: none;
  }

input {
  padding: .5em;
  outline: none;
  border: none;
  background-color: var(--inputcol);
  border-radius: 100em;
  color: white;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  padding: .4em 1em;
  background-color: var(--inputcol);
  border: none;
  color: white;
  border-radius: 100em;
  cursor: pointer;
}

button:disabled {
  background-color: var(--disabledinputcol);
  cursor: initial;
}

.background {
  position: absolute;
  height: 500px;
  width: 500px;
  z-index: -1;
  background: linear-gradient(45deg, #050b1a 25%, #082dc2AA 100%) no-repeat center center fixed;
  background-size: cover;
  animation: bg 60s infinite;
  transform: scale(500%);
  border-radius: 100em;
}

.hidden {
  display: none;
}

@keyframes bg {
  from {
    transform: rotate(0deg) scale(500%);
  }
  50% {
    transform: rotate(360deg) scale(500%);
  }
  to {
    transform: rotate(0deg) scale(500%);
  }
}